* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    background: url('macbook_1516041793.jpg') center/cover no-repeat fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card {
    background: rgba(10, 10, 10, 0.92);
    backdrop-filter: blur(10px);
    padding: 40px 45px;
    width: 550px;
    max-width: 95%;
    border-radius: 14px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.7);
    color: white;
}
.quote-text {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 25px;
}
.divider {
    border: none;
    height: 1px;
    background: rgba(130, 142, 166);
    margin-bottom: 18px;
}
.bottom-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.author {
    font-size: 14px;
    letter-spacing: 1px;
    color: rgba(130, 142, 166);
}
.dice-btn {
    background: rgb(130, 142, 166);
    border: 1px solid rgba(130, 142, 166);
    color: rgba(130, 142, 166);
    font-size: 20px;
    border-radius: 8px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    transition: 0.2s;
}
.dice-btn:hover {
    background: rgba(130, 142, 166);
}
.loading {
    opacity: 0.4;
}

